* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #dbeafe, #fce7f3);
    margin: 0;
    padding: 0;
}
 
header {
    background: white;
    color: blueviolet;
    padding: 20px;
    border: solid 2px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 1.8rem;
}

.container {
    max-width: 1000px;
    background: white;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
}

h2 {
    padding-left: 10px;
    margin-bottom: 15px;
    color: blueviolet;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background: blueviolet;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;

}

th {
    background: #e5e7eb;
}

.header-dashboard {
    width: 100%;
    height: 60px;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 9px;
    box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}


button {
    margin-left: 35px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.2);
}
button:hover {
    background-color: #da26eb;
    color: white;
    transform: scale(1.15);
    transition: all 0.3s, color 0.3s;
}

.time-cell {
    border: solid rgb(37, 37, 37) 1px;
    text-align: center;
    background-color: rgb(230, 230, 230);
    font-weight: bold;
    width: 100px;
    height: 50px;
}


.lecture-cell {
    border: solid rgb(37, 37, 37) 1px;
    text-align: center;
    background-color: aliceblue;
    
}

.lecture-cell:hover {
    background-color: rgb(173, 216, 230);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s;
}


.header > th {
    border-collapse: collapse;
    background-color: rgb(200, 200, 200);
    border: solid rgb(37, 37, 37) 1px;
    text-align: center;
    padding: 13px;
}


.timetable-container {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    box-shadow: 2px 2px 10px grey;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

#workload-content {
        width: 100%;
    margin: auto;
    margin-top: 20px;
    box-shadow: 2px 2px 10px grey;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

.ClassSubmit:hover {
    transform: scale(1.02);
    background-color: #d7d4d4;
    transition: all 0.3s;
}

