table {
    width: 100%;
    border-collapse: collapse;
}


.timetable-container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    box-shadow: 2px 2px 10px grey;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: blue;
}
tr, th {
    border: 1px solid black;
    border-top: none;
    border-collapse: collapse;
}

.lecture-cell {
    border: solid rgb(37, 37, 37) 1px;
    text-align: center;
    background-color: aliceblue;
    
}

.lecture-cell:hover {
    background-color: rgb(173, 216, 230);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s;
}

.time-cell {
    border: solid rgb(37, 37, 37) 1px;
    text-align: center;
    background-color: rgb(230, 230, 230);
    font-weight: bold;
    width: 100px;
    height: 50px;
}

.header {
    border-collapse: collapse;
    background-color: rgb(200, 200, 200);
    
}

.header-dashboard {
    width: 100%;
    height: 60px;
    background-color: #2a9dc7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 9px;
    box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

button {
    margin-left: 35px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.2);
}
button:hover {
    background-color: #1e7fa1;
    color: white;
    transform: scale(1.15);
    transition: all 0.3s, color 0.3s;
}


body {
    background: linear-gradient(135deg, #dbeafe, #fce7f3);
    margin: 0;
    padding: 0;
}

.dashboard-welcome {
    margin-top: 20px;
    text-align: center;
}

.dashboard-welcome h1 {
    font-size: 36px;
    color: #333;
}

.dashboard-content {
    margin-top: 30px;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 9px;
    box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.2);
    height: auto;
}

.dashboard-content h1 {
    
    margin-left: auto;
    font-size: 28px;
    color: #555;
    margin-right: auto;
    background-color: #1e7fa1;
    padding: 40px;
    border-radius: 5px;
    color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding-bottom: 50px;
    border: solid black 2px;
}

.dashboard-content h1:hover {
    background-color: #157326;
    transform: scale(1.05);
    transition: all 0.3s;
}

.class-value {
    font-size: 44px;   
}

.footer-dashboard {
    width: 100%;
    height: 40px;
    background-color: #2a9dc7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 0 0 9px 9px;
    box-shadow: 8px 6px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
